@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, html, #root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../public/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.zaglushka_header {
  background-color: #A37D52;
  color: white;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 15px 0;
}

.zaglushka_content {
  margin: 60px auto;
  max-width: 1146px;
  display: flex;
  justify-content: center;
}

.zaglushka_middle {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 80px;
}

.pacan {
  margin-top: 26px;
}

.second_img {
  display: none;
}

@media screen and (max-width: 1650px) {
  .zaglushka_middle_image1 {
    height: 150px;
    width: auto;
  }

  .pacan {
    height: 450px;
    width: auto;
  }
}

@media screen and (max-width: 1200px) {

  .zaglushka_content {
  }

  .zaglushka_header {
    font-size: 24px;
    line-height: 28px;
  }

  .zaglushka_image1 img {
    width: 109px;
    height: 109px;
  }

  .zaglushka_image2 img {
    width: 146px;
    height: 80px;
  }

  .zaglushka_middle {
    margin: 0 54px;
  }

  .zaglushka_middle_image1 {
    width: 406px;
    height: 172px;
  }

  .pacan {
    width: 385px;
    height: 371px;
  }
}

@media screen and (max-width: 768px) {
  .zaglushka_content {
    flex-direction: column;
    align-items: center;
  }

  .zaglushka_image2 {
    display: none;
  }

  .zaglushka_image1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 14px;
  }

  .zaglushka_image1 img {
    width: 76px;
    height: 76px;
  }

  .second_img {
    margin-left: 10.5px;
    width: 101px !important;
    height: 55px !important;
    display: block;
  }
}


@media screen and (max-width: 500px) {
  .pacan {
    width: 100%;
    height: 100%;
  }

  .zaglushka_middle {
    margin: 0 14px;
  }

  .zaglushka_middle_image1 {
    width: 100%;
    height: 100%;
  }
}
